body {
 background: white snow;

}

#container{
 display: flex;
 flex-direction: column;

}

#nav{
 background:rgb(234, 8, 8);
 width: 100%;
 height: 150px;
 display: flex;
 justify-content: center;
}
#comment{
 vertical-align: middle;
 width: 50%;
 height: 50%;
 border-radius: 50%;
 padding-top: 90px;
}

#logform{
 width: 100%;
 height: 300px;
 background: blue;
 display: flex;
 justify-content: center;
 margin-bottom: 12px;
 
}

#form{
 background: green;
 width: 300px;
 padding: 50px;
 display: flex;
 flex-direction: column;
 gap: 15px;
 
}

#user{
 width: 100%;
 height: 27px;
 background: white snow ;
 border-radius: 6px;
}

#pass{
 display: flex;
 flex-direction: row;
 background: yellow;
}

#forgot{
 background: pink;
 width: 80%;
 display: flex;
 justify-content: end;
}

#password{
  width: 100%;
   height: 27px;
   background: white snow;
   border-radius: 6px;
}

#log{
 width: 300px;
 border-radius: 6px;
 height: 30px;
 margin-left: 3px;
 background: rgb(50, 179, 50);
}